@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-panel">

    <div class="mdl-card__title">
        <div class="mdl-card__title-text">Attitude Problems</div>
    </div>

    <div class="mdl-card__supporting-text">Please enter the respective notation to get the equivalent notations.</div>
   
    <div class="mdl-card__actions mdl-card--border">

        <form action="#">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                 <label class="mdl-textfield__label" for="quadrant">Quadrant Notation</label>  
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="azimuthal">
                <label class="mdl-textfield__label" for="azimuthal">Azimuthal Notation</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input display-4" type="text" id="ddquad">
                <label class="mdl-textfield__label" for="ddquad">Dip/Dip Qudrant Notation</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="ddquad">
                <label class="mdl-textfield__label" for="ddquad">Dip/Dip Qudrant Notation</label>
            </div>

            <center>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Submit
                </button>
            </center>

        </form>
        <br />
        <br />
        <div class="mdl-card__title-text">Graphical Orientation </div>
        <br />
        <br />

        <center> <img src="~/images/trigonometry.gif" /></center> 

    </div>


</div>