@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


@* START OF SIMPLE PLAN VIEW PAGE *@
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

    @* CODE FOR TABS FOR WITH AND WITHOUT SYMBOLS *@
    <div class="mdl-tabs__tab-bar">
        <a href="#starks-panel" class="mdl-tabs__tab is-active">with symbols</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">without symbols</a>

    </div>

    @* END OF CODE FOR TABS - WITH AND WITHOUT SYMBOLS *@

    @* START OF WITH SYMBOLS TAB *@
    <div class="mdl-tabs__panel is-active" id="starks-panel">


        @* START OF THE BODY OF THE PAGE - WITH SYMBOLS PAGE *@

        <div class="panel panel-success">

            <div class="mdl-card__title">
                <div class="mdl-card__title-text">Simple Plan View Problems</div>
            </div>

            <div class="mdl-card__supporting-text"><h4>Please enter the respective notation to get the equivalent notations.</h4></div>

            <div class="mdl-card__actions mdl-card--border">


                @* TABLE FOR ALIGNMENT OF THE FORM AND GRAPHICAL ORIENTATION *@


                <table id="alignTable">

                    @* FIRST ROW OF THE TABLE *@
                    <tr>

                        @* FIRST COLOUMN OF THE TABLE *@
                        <td style="border-right:1px solid #ddd; padding-right:1em;vertical-align:top;padding-top:3em">
                            <form>

                               
                                
                                Strike: <p id="strikeAngle"></p>
                                <input id="strikeSlider" class="mdl-slider mdl-js-slider" type="range" min="0" max="360" value="10" tabindex="0" width="20" oninput="collectFunc(this.value,document.getElementById('dipSlider').value)" onchange="collectFunc(this.value, document.getElementById('dipSlider').value)" />

                                 
                                

                                Dip Amount: <p id="dipAngle"></p>
                                <input id="dipSlider" class="mdl-slider mdl-js-slider" type="range" min="0" max="90" value="10" tabindex="0" width="20" oninput="collectFunc(document.getElementById('strikeSlider').value, this.value)" onchange="collectFunc(document.getElementById('strikeSlider').value, this.value)" />
                                <br />
                                <div id="er" style="color:red"></div><br />
                                

                                <div id="dipdirect">

                                    Dip Direction:<br /><br />
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <select id="select11" class="form-control">
                                                <option value="None">Select a Direction</option>
                                                <option value="NW">North - West</option>
                                                <option value="NE">North - East</option>
                                                <option value="SE">South - East</option>
                                                <option value="SW">South - West</option>
                                            </select>
                                            </div>
                                        </div>
</div>
                               
                                <br />
                                <br />
                                
                                <div class="container" style="width:500px">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">Respective Notations</div>
                                        <div class="panel-body">

                                            Quadrant:<p id="qdnt" style="font-weight:bold"></p><br />
                                            Azimuthal:<p id="azmt"  style="font-weight:bold"></p><br />
                                            Dip / Dip Quadrant:<p id="ddQUAD"  style="font-weight:bold"></p><br />
                                            Dip / Dip Azimuthal:<p id="ddAzum"  style="font-weight:bold"></p>



                                        </div>
                                    </div>
                                </div>


                                <!-- --> @* DIVISION FOR RADIO BUTTONS *@
                                <div>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="r1">
                                        <input type="radio" id="r1" class="mdl-radio__button" name="symbols" value="1" checked>
                                        <span class="mdl-radio__label">Sedementary strata</span>
                                    </label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="r2">
                                        <input type="radio" id="r2" class="mdl-radio__button" name="symbols" value="2">
                                        <span class="mdl-radio__label">Metamorphic Foliation</span>
                                    </label>
                                    <br />
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="r3">
                                        <input type="radio" id="r3" class="mdl-radio__button" name="symbols" value="3">
                                        <span class="mdl-radio__label">Joint</span>
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="r4">
                                        <input type="radio" id="r4" class="mdl-radio__button" name="symbols" value="4">
                                        <span class="mdl-radio__label">Rock Cleavage</span>
                                    </label>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="r5">
                                        <input type="radio" id="r5" class="mdl-radio__button" name="symbols" value="5">
                                        <span class="mdl-radio__label">Fault Plane</span>
                                    </label>
                                </div>
                                @* END OF DIVISION FOR RADIO BUTTONS *@



                            </form>


                        </td>

                        <!--
                            *
                            *
                            *

                            Space left Intentionally - Entering into second row the the alignment table
                            *
                            *
                            *
                            *
                            *
                            *
                        -->
                        @* SECOND COLOUMN OF THE THE TABLE *@
                        <td style="text-align:center">


                            @* START OF GRAPHICAL DIAGRAM OF SIMPLE PLAN VIEW *@

                            <div class="container" style="width:580px">

                                <div class="panel panel-success">
                                    <div class="panel-heading">Graphical Orientation for Inputs Produced</div>
                                    <div class="panel-body"><center> <canvas width="300" height="300" id="my_Canvas"></canvas></center></div>
                                </div>
                            </div>


                            <br />


                            <!-- Raised button with ripple -->


                            <div id="downloads"></div>


                            <br />
                            <br />
                            @* END OF THE GRAPHCIAL DIAGRAM OF SIMPLE PLAN VIEW *@


                        </td>

                    </tr>


                    @* END THE ALIGNMENT TABLE *@

                </table>


            </div>

            @* END OF THE BODY OF THE PAGE - WITH SYMBOLS *@
        </div>


        @* END OF WITH SYMBOLS TAB *@
    </div>


    @* START OF WITHOUT SYMBOLS TAB *@



    <div class="mdl-tabs__panel" id="lannisters-panel">

        <div class="panel panel-success">

            <div class="mdl-card__title">
                <div class="mdl-card__title-text">Simple Plan View Problems - Without Symbols</div>
            </div>

            <div class="mdl-card__supporting-text"><h4>Please enter the respective notation to get the equivalent notations.</h4></div>

            <div class="mdl-card__actions mdl-card--border">


                @* TABLE FOR ALIGNMENT OF THE FORM AND GRAPHICAL ORIENTATION *@


                <table id="alignTable">

                    @* FIRST ROW OF THE TABLE *@
                    <tr>

                        @* FIRST COLOUMN OF THE TABLE *@
                        <td style="border-right:1px solid; padding-right:2em;vertical-align:top;padding-top:3em;padding-left:2em">



                            <form>

                                <span>Please enter the direction for the Leg(s)</span>
                                <br />
                                <br />


                                <div id="TextBoxesGroup">
                                    <div class="panel panel-default" id="leg1">
                                        <div class="panel panel-heading">
                                            Leg 1
                                        </div>
                                        <div class="panel panel-body">

                                            <div class="form-group">

                                                <div class="col-sm-10">
                                                    <select id="select111" class="form-control">
                                                        <option value="NE">North - East</option>
                                                        <option value="NW">North - West</option>
                                                        <option value="SE">South - East</option>
                                                        <option value="SW">South - West</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <br /><br />
                                            Degrees: <p id="degreeResult1"></p>
                                            <input id="slider11" class="mdl-slider mdl-js-slider" type="range" min="0" max="90" value="0" tabindex="0" oninput="degreeResult(this.value)" onchange="degreeResult(this.value)" />
                                            Paces: <p id="pacesResult1"></p>
                                            <input id="slider12" class="mdl-slider mdl-js-slider" type="range" min="0" max="20" value="0" tabindex="0" oninput="pacesResult(this.value)" onchange="pacesResult(this.value)" />

                                        </div>
                                    </div>
                                </div>

                                <div style="color:red" id="error1"></div>






                                <button class="mdl-button mdl-js-button mdl-button--fab" id="addButton" type="button">
                                    <i class="material-icons">add</i>
                                </button>&nbsp;&nbsp;&nbsp;
                                <button class="mdl-button mdl-js-button mdl-button--fab" id="removeButton" type="button">
                                    <i class="material-icons">delete</i>
                                </button>





                            </form>


                            <br />
                            <div id="errormsg" style="color:red"></div>


                            <br />
                        </td>

                        <!--
                            *
                            *
                            *

                            Space left Intentionally - Entering into second row the the alignment table
                            *
                            *
                            *
                            *
                            *
                            *
                        -->
                        @* SECOND COLOUMN OF THE THE TABLE *@
                        <td style="text-align:center;padding-left:5em">


                            @* START OF GRAPHICAL DIAGRAM OF SIMPLE PLAN VIEW *@

                            <div class="container" style="width:580px">

                                <div class="panel panel-success">
                                    <div class="panel-heading">Graphical Orientation for Inputs Produced</div>
                                    <div class="panel-body"><center> <canvas width="300" height="300" id="my_Canvas1"></canvas></center></div>
                                </div>
                            </div>


                            <br />


                            <!-- Raised button with ripple -->

                            <div id="downloads1"></div>

                            <br />
                            <br />
                            @* END OF THE GRAPHCIAL DIAGRAM OF SIMPLE PLAN VIEW *@


                        </td>

                    </tr>


                    @* END THE ALIGNMENT TABLE *@

                </table>


            </div>

            <!--End of success panel-->
        </div>


        @* END OF WITHOUT SYMBOLS TAB *@
    </div>

    @* END OF PAGE - SIMPLE PLAN VIEW *@
</div>