@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    @*<div class="col-md-6 col-sm-6" >
            <h3>Default collapse with scaling icon</h3>
            <div class="panel-group wrap" id="bs-collapse">

                <div class="panel">
                    <div class="panel-heading" >
                        <h4 class="panel-title" >
                            <a data-toggle="collapse" data-parent="#" href="#one" >
                                Collapse item #1
                            </a>
                        </h4>
                    </div>
                    <div id="one" class="panel-collapse collapse">
                        <div class="panel-body">
                            Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
                        </div>
                    </div>

                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#" href="#two">
                                Collapse item #2
                            </a>
                        </h4>
                    </div>
                    <div id="two" class="panel-collapse collapse">
                        <div class="panel-body">
                            Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?
                        </div>

                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#" href="#three">
                                Collapse item #3
                            </a>
                        </h4>
                    </div>
                    <div id="three" class="panel-collapse collapse">
                        <div class="panel-body">
                            The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#" href="#four">
                                Collapse item #4
                            </a>
                        </h4>
                    </div>
                    <div id="four" class="panel-collapse collapse in">
                        <div class="panel-body">
                            They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

            </div>
            <!-- end of #bs-collapse  -->

        </div>*@

    <div class="col-md-6 col-sm-6">
        <h3>FAQs</h3>
        <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is Bearing?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        A horizontal angle measured east or west of true north or south
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is Azimuth?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        A horizontal angle measured clockwise from true north
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What is Altitude?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        The orientation of a plane or line in space, commonly specified by its bearing or azimuth
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What is Trend?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        The direction of a line in a horizontal plane, commonly specified by its bearing.
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            What is Strike?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        The trend of a horizontal line on an inclined plane.
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            What is Inclination(aka Plunge)?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        The vertical angle, measured downward from the horizontal, to a plane or line.
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            What is Dip?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        The inclination of the line of greatest slope on an inclined plane. It is ALWAYS perpendicular to strike.
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            What is Apparent Dip?
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        The inclination of a line on an inclined plane measured in a direction oblique (0.1-89.9°) to the strike direction. Apparent dip is always less than true dip.
                    </div>
                </div>
            </div>
            <!-- end of panel -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            What is Quadrant Notation?
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                        N45°W, 43°NE; this notation is the most commonly used of the four, and will be the way in which strike and dip are recorded for assignments in this lab. In this example, the strike is 45° west of north, and the dip of the plane is 43° in the northeast direction. Note that by convention, strike is always measured relative to north. A bearing of S45°E is technically identical, but strike is given relative to north to minimize confusion. Additionally, be aware that the 43° is not a bearing. It is a measure of the inclination of the plane, relative to the horizontal, along a line that is perpendicular to strike. Because maximum dip occurs perpendicular to strike, there are only two possibilities for the dip direction. It is only necessary to identify which side by quadrant (or by direction in the rare instances when strike falls along a cardinal direction).
                    </div>
                </div>
            </div>
            <!-- end of panel -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            What is Azimuth Notation?
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="panel-body">
                        315°; 43°NE; this notation is less commonly used by structural geologists. However it is not uncommon, and must therefore be understood by students studying structural geology. In this example the azimuth of the strike is 315°, as measured clockwise from north (which is assigned a value of 0°) and the dip is 43° to the northeast. By convention, the trend of the strike line is recorded in the northern half of the compass. In other words, even though the line may be represented by the southern azimuth (i.e. 135°) geologists use the northern end of the line, to minimize confusion.
                    </div>
                </div>
            </div>
            <!-- end of panel -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingDDQN">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDDQN" aria-expanded="false" aria-controls="collapseDDQN">
                            What is Dip/Dip Direction in Quadrant Notation?
                        </a>
                    </h4>
                </div>
                <div id="collapseDDQN" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDDQN">
                    <div class="panel-body">
                        43°, N45°E; in this example, the dip magnitude is given first, followed by the strike of the line of maximum dip (AKA the direction of maximum dip, or dip direction). In other words the plane dips 43° along a line that trending 45° east of north.
                    </div>
                </div>
            </div>
            <!-- end of panel -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingDDAN">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDDAN" aria-expanded="false" aria-controls="collapseDDAN">
                            What is Dip/Dip Direction in Azimuth Notation?
                        </a>
                    </h4>
                </div>
                <div id="collapseDDAN" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDDAN">
                    <div class="panel-body">
                        43°/45°; the dip is 43° and the trend of the line of maximum dip is 45°. In this case, the trend of the dip line is 45° clockwise from north.
                        The first two forms are strike notation, and are the most common means by which to describe the orientation of planes in space. Quadrant notation is the most common of the two. When using either of the strike forms, one must take care to record strike relative to north. In other words, even though a strike of S45E is technically correct (it is equivalent to N45W), it is incorrect because by convention, GEOLOGISTS RECORD STRIKE RELATIVE TO NORTH. We will use the quadrant method in this class, primarily because it is easier to visualize N45W than it is to visualize 315°.

                    </div>
                </div>
            </div>
            <!-- end of panel -->
        </div>
        <!-- end of #accordion -->

    </div>
    <!-- end of wrap -->

</div>
<!-- end of container -->
<!--CSS code for this page-->
<style>
    body {
        margin: 0;
        font-family: 'Roboto';
        font-size: 16px;
    }

    h3 {
        font-size: 26px;
        text-align: left;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
        font-weight: 300;
    }

    .container {
        max-width: 3500px;
    }

    div[class*='col-'] {
        padding: 0 0;
    }

    .wrap {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    a:focus,
    a:hover,
    a:active {
        outline: 0;
        text-decoration: none;
    }

    .panel {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #fff;
        background: none;
        box-shadow: none;
    }

        .panel:last-child {
            border-bottom: none;
        }

    .panel-group > .panel:first-child .panel-heading {
        border-radius: 4px 4px 0 0;
    }

    .panel-group .panel {
        border-radius: 0;
    }

        .panel-group .panel + .panel {
            margin-top: 0;
        }

    .panel-heading {
        background-color: #4CB050;
        border-radius: 0;
        border: none;
        color: #fff;
        padding: 0;
    }

    .panel-title a {
        display: block;
        color: #fff;
        padding: 15px;
        position: relative;
        font-size: 17px;
        font-weight: 400;
    }

    .panel-body {
        background: #fff;
    }

    .panel:last-child .panel-body {
        border-radius: 0 0 4px 4px;
    }

    .panel:last-child .panel-heading {
        border-radius: 0 0 4px 4px;
        transition: border-radius 0.3s linear 0.2s;
    }

        .panel:last-child .panel-heading.active {
            border-radius: 0;
            transition: border-radius linear 0s;
        }
    /* #bs-collapse icon scale option */

    .panel-heading a:before {
        content: '\e146';
        position: absolute;
        font-family: 'Material Icons';
        right: 5px;
        top: 10px;
        font-size: 24px;
        transition: all 0.5s;
        transform: scale(1);
    }

    .panel-heading.active a:before {
        content: ' ';
        transition: all 0.5s;
        transform: scale(0);
    }

    #bs-collapse .panel-heading a:after {
        content: ' ';
        font-size: 24px;
        position: absolute;
        font-family: 'Material Icons';
        right: 5px;
        top: 10px;
        transform: scale(0);
        transition: all 0.5s;
    }

    #bs-collapse .panel-heading.active a:after {
        content: '\e909';
        transform: scale(1);
        transition: all 0.5s;
    }
    /* #accordion rotate icon option */

    #accordion .panel-heading a:before {
        content: '\e316';
        font-size: 24px;
        position: absolute;
        font-family: 'Material Icons';
        right: 5px;
        top: 10px;
        transform: rotate(180deg);
        transition: all 0.5s;
    }

    #accordion .panel-heading.active a:before {
        transform: rotate(0deg);
        transition: all 0.5s;
    }
</style>Page that has to be done by tarakesh gogi.