@{
    ViewData["Title"] = "Home Page";
}


<table style="border-collapse: separate; border-spacing: 20px;">
    <tr>

        <td>
            <div class="demo-card-wide mdl-card mdl-shadow--4dp" id="trigcard">

                <div class="mdl-card__title" id="card1">
                    
                </div>

                <div class="mdl-card__supporting-text">
                    <h2 class="mdl-card__title-text">Trigonometry Problems</h2>
                   Solves basic triginometric problems that involves angles & sides of the triangle to produce dimensions of the triangle.
                </div>


                <div class="mdl-card__actions mdl-card--border">
                    <a asp-controller="Trigonometry" asp-action="Index" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Solve Problems 
                    </a>
                </div>

            </div>

            

            <br />
            <br />
            @*<div id="p3" class="mdl-progress mdl-js-progress"><br />05% Complete </div>*@

            <div class="mdl-tooltip mdl-tooltip--large" for="trigcard">
                Solve Trignometry Problems
            </div>
        </td>

        <td>
            <div class="demo-card-wide mdl-card mdl-shadow--4dp" id="attcard">

                <div class="mdl-card__title" id="card2">
                    
                </div>

                <div class="mdl-card__supporting-text">
                    <h2 class="mdl-card__title-text">Simple Plan View </h2>
                    These type of problems involve in strike and dip. Given the strike angle and dip amount it produces the linear graph.
                </div>


                <div class="mdl-card__actions mdl-card--border">
                    <a asp-controller="Attitude" asp-action="Index" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Solve Problems
                    </a>
                </div>

            </div>

            <br />
            <br />
            @*<div id="p4" class="mdl-progress mdl-js-progress"> <br />15% Complete </div>*@

            <div class="mdl-tooltip mdl-tooltip--large" for="attcard">
                Simple Plan View Problems involving strike and dip
            </div>
        </td>


        <td>
            <div class="demo-card-wide mdl-card mdl-shadow--4dp" id="borehole">

                <div class="mdl-card__title" id="card3">
                   
                </div>

                <div class="mdl-card__supporting-text">
                    <h2 class="mdl-card__title-text">Bore Hole Problems</h2>
                    Bore hole problems or 3 - point Problems are the problems that involve solving 3 - point problems.
                </div>


                <div class="mdl-card__actions mdl-card--border">
                    <a asp-controller="ThreePoint" asp-action="Index" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Solve Problems
                    </a>
                </div>

            </div>
            <br />
            <br />

            @*<div id="p5" class="mdl-progress mdl-js-progress"><br /> 05% Complete </div>*@

            <div class="mdl-tooltip mdl-tooltip--large" for="borehole">
               Bore hole problems
            </div>
        </td>

    </tr>
</table>





                  
