@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="panel panel-success">

    <div class="mdl-card__title">
        <div class="mdl-card__title-text">Trigonometric Problems</div>
    </div>

    <div class="mdl-card__supporting-text"><h4>Please enter the respective values</h4></div>

    <div class="mdl-card__actions mdl-card--border">


        <form action="#">
            <br />
            <br>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                <label class="mdl-textfield__label" for="quadrant">Enter a value</label>
            </div>
            <br />
            <br />
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                <label class="mdl-textfield__label" for="quadrant">Enter b value</label>
            </div>
            <br />
            <br />
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                <label class="mdl-textfield__label" for="quadrant">Enter c value</label>
            </div>
            <br />
            <br />
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                <label class="mdl-textfield__label" for="quadrant">Enter angle A</label>
            </div>
            <br />
            <br />
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                <label class="mdl-textfield__label" for="quadrant">Enter angle B</label>
            </div>
            <br />
            <br />
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="quadrant">
                <label class="mdl-textfield__label" for="quadrant">Enter angle C</label>
            </div>

            <center>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Submit
                </button>
            </center>


        </form>
        <br />
        <br />
        <div class="mdl-card__title-text">Graphical Orientation </div>
        <br />
        <br />

        <center> <img src="~/images/Triangle.png" /></center> 

    </div>


</div>

