@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#simple-panel" class="mdl-tabs__tab is-active">Simple Problems</a>
        <a href="#multiple-panel" class="mdl-tabs__tab">Multiple Triangle Problems</a>
        <a href="#complex-panel" class="mdl-tabs__tab">Complex Problems</a>


    </div>



    @*Simple Problems*@
    <div class="mdl-tabs__panel is-active" id="simple-panel">

        <div class="panel panel-success">

            <div class="mdl-card__title">
                <div class="mdl-card__title-text">Simple Plan View Problems</div>
            </div>

            <div class="mdl-card__supporting-text"><h4>Please enter the respective notation to get the equivalent notations.</h4></div>



            @*radio buttons*@
            <div class="col-sm-12">
                <br />

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" onclick="option1()">
                    <span class="mdl-radio__label">only sides</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2" onclick="option2()">
                    <span class="mdl-radio__label">only angles</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                    <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3" onclick="option3()">
                    <span class="mdl-radio__label">Finding sides using sides and angles</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                    <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4" onclick="option4()">
                    <span class="mdl-radio__label">Finding angles using sides</span>
                </label>
            </div>





            <div class="mdl-card__actions mdl-card--border">


                <form action="#">
                    <br />
                    <br>

                    <div class="container text-center">
                        <div class="col-sm-3">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="quadrant1" name="quadrant1">
                                <label class="mdl-textfield__label" for="quadrant1" id="sidea">Enter a value</label>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="quadrant2">
                                <label class="mdl-textfield__label" for="quadrant2" id="sideb">Enter b value</label>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="quadrant3">
                                <label class="mdl-textfield__label" for="quadrant3" id="sidec">Enter c value</label>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="quadrant4">
                                <label class="mdl-textfield__label" for="quadrant4" id="sideLa">Enter angle A</label>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="quadrant6">
                                <label class="mdl-textfield__label" for="quadrant6" id="sideLc">Enter angle C</label>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <div class="mdl-card__title-text">Graphical Orientation </div>

                            <img src="~/images/Triangle.png" />
                        </div>
                    </div>





                    <center>
                        <button type="button" id="btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="myFunction()">
                            Submit
                        </button>
                    </center>

                </form>
                <br />
                <br />





            </div>


        </div>





    </div>



    @*Multiple Triangle Problems*@
    <div class="mdl-tabs__panel" id="multiple-panel">

        <div class="panel panel-success">

            <form action="#">
                <br />
                <br>

                <div class="container text-center">
                    <div class="col-sm-3">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-a" name="quadrant1">
                            <label class="mdl-textfield__label" for="value-a">Enter a value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-b">
                            <label class="mdl-textfield__label" for="value-b">Enter b value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-c">
                            <label class="mdl-textfield__label" for="value-c">Enter c value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-d">
                            <label class="mdl-textfield__label" for="value-d">Enter d value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-e">
                            <label class="mdl-textfield__label" for="value-e">Enter e value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-f">
                            <label class="mdl-textfield__label" for="value-f">Enter f value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LA">
                            <label class="mdl-textfield__label" for="value-LA">Enter angle A</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LC">
                            <label class="mdl-textfield__label" for="value-LC">Enter angle C</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LD">
                            <label class="mdl-textfield__label" for="value-LD">Enter angle D</label>
                        </div>

                        <center>
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="myFunction2()">
                                Submit
                            </button>
                        </center>
                    </div>
                    
                    <div class="col-sm-6">
                        <img src="~/images/multiple.png" />
                    </div>


                </div>
            </form>





        </div>
    </div>


    @*Complex problems*@
    <div class="mdl-tabs__panel" id="complex-panel">

        <div class="panel panel-success">

            <form action="#">
                <br />
                <br>

                <div class="container text-center">
                    <div class="col-sm-3">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-a1" name="quadrant1">
                            <label class="mdl-textfield__label" for="value-a1">Enter a value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-b1">
                            <label class="mdl-textfield__label" for="value-b1">Enter b value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-c1">
                            <label class="mdl-textfield__label" for="value-c1">Enter c value</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-d1">
                            <label class="mdl-textfield__label" for="value-d1">Enter d value</label>
                        </div>
                        <br />
                        <br />

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LA1">
                            <label class="mdl-textfield__label" for="value-LA1">Enter angle A</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LB1">
                            <label class="mdl-textfield__label" for="value-LB1">Enter angle B</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LC1">
                            <label class="mdl-textfield__label" for="value-LC1">Enter angle C</label>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="value-LD1">
                            <label class="mdl-textfield__label" for="value-LD1">Enter angle D</label>
                        </div>


                    </div>

                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <img src="~/images/Complex.png" />
                    </div>


                </div>
                <center>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="myFunction3()">
                        Submit
                    </button>
                </center>
            </form>





        </div>



    </div>



    <script>

        function option1()
        {
            document.getElementById("quadrant1").disabled = false;
            document.getElementById("quadrant2").disabled = false;
            document.getElementById("quadrant3").disabled = false;
            document.getElementById("quadrant4").disabled = true;
            document.getElementById("quadrant6").disabled = true;

        }

        function option2() {
            document.getElementById("quadrant4").disabled = false;
            document.getElementById("quadrant6").disabled = false;
            document.getElementById("quadrant1").disabled = true;
            document.getElementById("quadrant2").disabled = true;
            document.getElementById("quadrant3").disabled = true;


        }

        function option3() {
            document.getElementById("quadrant1").disabled = false;
            document.getElementById("quadrant2").disabled = false;
            document.getElementById("quadrant3").disabled = false;
            document.getElementById("quadrant4").disabled = false;
            document.getElementById("quadrant6").disabled = false;
        }

        function option4() {
            document.getElementById("quadrant1").disabled = false;
            document.getElementById("quadrant2").disabled = false;
            document.getElementById("quadrant3").disabled = false;
            document.getElementById("quadrant4").disabled = false;
            document.getElementById("quadrant6").disabled = false;

        }

        function myFunction() {


            var a = document.getElementById("quadrant1").value;
            var b = document.getElementById("quadrant2").value;
            var c = document.getElementById("quadrant3").value;
            var La = document.getElementById("quadrant4").value;
            var Lc = document.getElementById("quadrant6").value;


            // only sides
            if (document.getElementById("option-1").checked) {

                if (a == 0 && b > 0 && c > 0) {

                    if (b > c) {
                        $(sidea).hide();
                        document.getElementById("quadrant1").value = Math.sqrt(parseFloat((parseFloat(b) * parseFloat(b)) - (parseFloat(c) * parseFloat(c))));
                    }
                    else {
                        alert("hypotenuse is the largest side so b should be greater than other value");

                    }
                }
                else if (b == 0 && a > 0 && c > 0) {
                    $(sideb).hide();
                    document.getElementById("quadrant2").value = Math.sqrt(parseFloat((parseFloat(a) * parseFloat(a)) + (parseFloat(c) * parseFloat(c))));
                }
                else if (c == 0 && a > 0 && b > 0) {
                    if (b > a) {
                        document.getElementById("quadrant3").value = Math.sqrt(parseFloat((parseFloat(b) * parseFloat(b)) - (parseFloat(a) * parseFloat(a))));
                    }
                    else {
                        alert("hypotenuse is the largest side so b should be greater than other value");


                    }
                }
                else {
                    alert("enter valid input  and please do check it again");

                }

            }





                //only angles
            else if (document.getElementById("option-2").checked) {
                if (La == 0 && Lc > 0) {
                    if (Lc < 90) {
                        $(sideLc).hide();
                        document.getElementById("quadrant4").value = 180 - (90 + parseFloat(Lc));
                    }
                    else {
                        alert("Any of the angles in the triangle should not be zero or undefined");

                    }

                }

                else if (Lc == 0 && La > 0) {
                    if (La < 90) {
                        $(sideLa).hide();
                        document.getElementById("quadrant6").value = 180 - (90 + parseFloat(La));
                    }
                    else {
                        alert("Any of the angles in the triangle should not be zero or undefined");

                    }

                }
                else {
                    alert("please enter valid input");

                }

            }


                // angles and sides
            else if (document.getElementById("option-3").checked) {
                if (La > 0) {

                    if (c == 0) {
                        // c

                        if (b > 0 && a == 0) {
                            $(sidec).hide();
                            document.getElementById("quadrant3").value = Math.round(parseFloat(b) * Math.cos(parseFloat(La) * 0.0174533));
                        }
                        else if (a > 0) {
                            document.getElementById("quadrant3").value = Math.round(parseFloat(a) / Math.tan(parseFloat(La) * 0.0174533));

                        }
                        else {
                            alert("Enter the valid input");

                        }
                    }
                    else if (a == 0) {
                        //a
                        if (c > 0) {
                            $(sidea).hide();
                            document.getElementById("quadrant1").value = Math.round(parseFloat(c) * Math.tan(parseFloat(La) * 0.0174533));
                        }
                        else if (b > 0) {
                            $(sidea).hide();
                            document.getElementById("quadrant1").value = Math.round(parseFloat(b) * Math.sin(parseFloat(La) * 0.0174533));
                        }
                        else {
                            alert("Enter the valid input");

                        }
                    }
                    else if (b == 0) {
                        // b
                        if (a > 0) {
                            $(sideb).hide();
                            document.getElementById("quadrant2").value = Math.round(parseFloat(a) / Math.sin(parseFloat(La) * 0.0174533));
                        }
                        else if (c > 0) {
                            $(sideb).hide();
                            document.getElementById("quadrant2").value = Math.round(parseFloat(c) * Math.cos(parseFloat(La) * 0.0174533));

                        }
                        else {
                            alert("Enter the valid input");

                        }
                    }
                    else {
                        alert("please enter valid input");

                    }

                }
                else if (Lc > 0) {



                    if (c == 0) {
                        // c
                        if (b > 0 && a == 0) {
                            $(sidec).hide();
                            document.getElementById("quadrant3").value = Math.round(parseFloat(b) * Math.sin(parseFloat(Lc) * 0.0174533));
                        }
                        else if (a > 0) {
                            $(sidec).hide();
                            document.getElementById("quadrant3").value = Math.round(parseFloat(a) * Math.tan(parseFloat(Lc) * 0.0174533));

                        }
                        else {
                            alert("Enter the valid input");

                        }
                    }
                    else if (a == 0) {
                        //a
                        if (c > 0) {
                            $(sidea).hide();
                            document.getElementById("quadrant1").value = Math.round(parseFloat(c) / Math.tan(parseFloat(Lc) * 0.0174533));
                        }
                        else if (b > 0) {
                            $(sidea).hide();
                            document.getElementById("quadrant1").value = Math.round(parseFloat(b) * Math.cos(parseFloat(Lc) * 0.0174533));
                        }
                        else {
                            alert("Enter the valid input");

                        }
                    }
                    else if (b == 0) {
                        // b
                        if (a > 0) {
                            $(sideb).hide();
                            document.getElementById("quadrant2").value = Math.round(parseFloat(a) / Math.cos(parseFloat(Lc) * 0.0174533));
                        }
                        else if (c > 0) {
                            $(sideb).hide();
                            document.getElementById("quadrant2").value = Math.round(parseFloat(c) / Math.sin(parseFloat(Lc) * 0.0174533));

                        }
                        else {
                            alert("Enter the valid input");

                        }
                    }
                    else {
                        alert("please enter valid input");

                    }
                }

            }

                // only angles using sides
            else if (document.getElementById("option-4").checked) {

                var value = window.prompt("Please enter  which angle to find either LA or LC (either enter LC or C)");

                if (value != null) {
                    if (Lc == 0 && (value == "LC" || value.toLowerCase() == "c")) {

                        if (a == 0 && b > 0 && c > 0) {
                            if (b > c) {
                                $(sideLc).hide();
                                document.getElementById("quadrant6").value = Math.round
                                (Math.asin(parseFloat(c) / parseFloat(b)) * 57.298);
                            }
                            else {
                                alert("hypotenuse is the largest side so b should be greater than other value");

                            }

                        }
                        else if (a > 0 && b == 0 && c > 0) {
                            $(sideLc).hide();
                            document.getElementById("quadrant6").value = Math.round(Math.atan(parseFloat(c) / parseFloat(a)) * 57.298);

                        }
                        else if (a > 0 && b > 0 && c == 0) {
                            if (b > a) {
                                $(sideLc).hide();
                                document.getElementById("quadrant6").value = Math.round(Math.acos(parseFloat(a) / parseFloat(b)) * 57.298);
                            }
                            else {
                                alert("hypotenuse is the largest side so b should be greater than other value");

                            }
                        }
                        else {
                            alert("Enter valid input");

                        }
                    }
                    else if (La == 0 && (value == "LA" || value.toLowerCase() == "a")) {
                        if (a == 0 && b > 0 && c > 0) {
                            if (b > c) {
                                $(sideLa).hide();
                                document.getElementById("quadrant4").value = Math.round
                                (Math.acos(parseFloat(c) / parseFloat(b)) * 57.298);
                            }
                            else {
                                alert("hypotenuse is the largest side so b should be greater than other value");

                            }

                        }
                        else if (a > 0 && b == 0 && c > 0) {
                            $(sideLa).hide();
                            document.getElementById("quadrant4").value = Math.round(Math.atan(parseFloat(a) / parseFloat(c)) * 57.298);

                        }
                        else if (a > 0 && b > 0 && c == 0) {
                            if (b > a) {
                                $(sideLa).hide();
                                document.getElementById("quadrant4").value = Math.round(Math.asin(parseFloat(a) / parseFloat(b)) * 57.298);
                            }
                            else {
                                alert("hypotenuse is the largest side so b should be greater than other value");

                            }
                        }
                        else {
                            alert("enter valid input");

                        }

                    }
                }
                else {
                    alert("please recheck and follow the notation like either LC or C");

                }
            }
            else {
                alert("please enter valid input");

            }

        }

        function myFunction2() {
            var a = document.getElementById("value-a").value;
            var b = document.getElementById("value-b").value;
            var c = document.getElementById("value-c").value;
            var d = document.getElementById("value-d").value;
            var e = document.getElementById("value-e").value;
            var f = document.getElementById("value-f").value;
            var La = document.getElementById("value-LA").value;
            var Lc = document.getElementById("value-LC").value;
            var Ld = document.getElementById("value-LD").value;
            if (Lc > 0 && Ld > 0 && c == 0 && d == 0 && e > 0)
            {

                c = e * ((Math.tan(Ld * 0.0174533) * Math.tan(Lc * 0.0174533)) / (Math.tan(Ld * 0.0174533) - Math.tan(Lc * 0.0174533)));
                document.getElementById("value-c").value = c;
                d = c / Math.tan(Lc * 0.0174533);
                a = d + e;
                document.getElementById("value-a").value = a;


            }
            else if (Lc == 0 && d > 0 && c > 0 && f > 0) {
                e = (d * f) / (c - f);
                document.getElementById("value-e").value = e;
                document.getElementById("value-LC").value = Math.atan(f / e) * 57.298;

            }


        }

        function myFunction3() {

            var a = document.getElementById("value-a1").value;
            var b = document.getElementById("value-b1").value;
            var c = document.getElementById("value-c1").value;
            var d = document.getElementById("value-d1").value;
            var La = document.getElementById("value-LA1").value;
            var Lb = document.getElementById("value-LB1").value;
            var Lc = document.getElementById("value-LC1").value;
            var Ld = document.getElementById("value-LD1").value;

            
            if (d > 0 && Ld > 0 && Lc > 0 && a > 0 && c == 0)
            {
                Lb = 90 - Ld;
                La = 180 - (parseFloat(Lb) + parseFloat(Lc));
                c = (Math.sin(parseFloat(Lc) * 0.0174533) / Math.sin(parseFloat(La) * 0.0174533)) * a;
                document.getElementById("value-LA1").value = La;
                document.getElementById("value-LB1").value = Lb;
                document.getElementById("value-c1").value = Math.round(parseFloat(c));

            }
            else
            {
                alert("Enter a valid input");

            }
        }

    </script>


</div>



















