@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-panel">

    <div class="mdl-card__title">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="mdl-card__title-text">Three Point Problems</div>
            </div>

            <div class="mdl-card__supporting-text"><h3> Enter any three points on the rock.</h3></div>

            <div class="mdl-card__actions mdl-card--border">

                <form action="myform">

                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="pointA" onkeypress="return isNumber(event)">
                        <label class="mdl-textfield__label" for="pointA">Enter a point on the rock</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="pointB" onkeypress="return isNumber(event)">
                        <label class="mdl-textfield__label" for="pointB">Enter another point on rock</label>
                    </div>


                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="pointC" onkeypress="return isNumber(event)"> 
                        <label class="mdl-textfield__label" for="pointC">Enter the last point on the rock</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="dist" onkeypress="return isNumber(event)">
                        <label class="mdl-textfield__label" for="dist">Enter the first distance</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="dist1" onkeypress="return isNumber(event)">
                        <label class="mdl-textfield__label" for="dist1">Enter the second distance</label>
                    </div>
                    </br>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="bear" onkeypress="return isNumber(event)">
                        <label class="mdl-textfield__label" for="bear">Enter the first bearing</label>
                    </div>
                    </br>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="bear1" onkeypress="return isNumber(event)">
                        <label class="mdl-textfield__label" for="bear1">Enter the second bearing</label>
                    </div>
                    
                    <center>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="calcu()">
                            Submit
                        </button>
                        <div id="puli"></div>
                    </center>
                </form>
            </div>
        </div>
    </div>

</div>



